input {
  text-align: center;
  background-color: #fff;
  border: none;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 100%;
  margin: 10px;
}

input:focus {
  outline: none;
}

.data {
  margin-left: 10px;
  width: 100%;
  height: 200px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.resultItem {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #000;
}

.resultItem:hover {
  cursor: pointer;
  background-color: lightgrey;
}
